.bold {
    font-weight: bold;
}

.dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    max-width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
